﻿
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dplelrpij/image/upload/c_scale,h_100/v1711092211/lsjuxcttlquvnxg4ftan.jpg">
    <title>
        Công ty TNHH Thiết Bị Và Công Nghệ Cao Inteso
    </title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-villa-agency.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<!--

TemplateMo 591 villa agency

https://templatemo.com/tm-591-villa-agency

-->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

    <div style="background-color:#eb2128" class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <ul class="info">
            <li style="color:white;">
                 Công ty TNHH Thiết Bị Và Công Nghệ Cao Inteso
             </li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4">
          <ul class="social-links" >
                        <li><a data-toggle="tooltip" data-placement="bottom" title="0936363785" href="tel:0936363785"><i class="fa-solid fa-phone"></i></a></li>
                        <li><a data-toggle="tooltip" data-placement="bottom" title="Voquyvinh@gmail.com" href="https://www.youtube.com/watch?v=IUbEdP_BaK8&t=294s"><i class="fa fa-envelope"></i></a></li>
                        <li><a data-toggle="tooltip" data-placement="bottom" title="08:00 - 17:30" href="https://www.facebook.com/trauvanginteso"><i class="fa-regular fa-clock"></i>  </a></li>
                        <li><a data-toggle="tooltip" data-placement="bottom" title="Follow on Facebook" href="https://www.facebook.com/trauvanginteso"><i class="fab fa-facebook"></i></a></li>
                        <li><a data-toggle="tooltip" data-placement="bottom" title="Follow on YouTube" href="https://www.youtube.com/watch?v=IUbEdP_BaK8&t=294s"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <div >
                            <img style="margin-top:10px" src="https://res.cloudinary.com/dplelrpij/image/upload/c_scale,h_100/v1711092211/lsjuxcttlquvnxg4ftan.jpg" height="60px" width="199px" alt="logo" /></a>
                    </div>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                            <li>
                                <form style="position: relative;" method="get" action="BlogList">
                                    <input type="text" placeholder="Tìm kiếm sản phẩm" name="searchString" style="border: 1px solid #ddd;padding: 5px;font-size: 0.7rem; border-radius:20px;width:200px;margin-top:5px " class="form-control" />
                                    <button style="position: absolute;right:7px; top:7px; color:gray; cursor:pointer; border: none; background-color: white; height: 15px;"  type="submit">
                                        <i style="position: absolute;right:0px; top:-1px;" class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </form>
                                
                            </li>

                            <li><a href="/Index" class="font-family:Open Sans ">Trang chủ</a></li>
                            <li><a href="/ProductList" class="font-family:Open Sans ">Sản Phẩm</a></li>
                            <li><a href="/BlogList" class="font-family:Open Sans ">Tin tức</a></li>

                            <li id="lienhe" class="font-family:Open Sans "><a href="/Index#">Liên Hệ</a></li>
                            <li><a style="padding-right:10px;background-color:white !important; padding-left:10px;width:40px;" href="CartController" class=""><i class="fa-solid fa-cart-shopping"></i></a></li>

                  </ul>
                     
                        <!-- ***** Menu End ***** -->
                </nav>
            </div>

        </div>
    </div>

  </header>
  <!-- ***** Header Area End ***** -->
    <div class="container ">
      @RenderBody()
    </div>

    <footer>
        <div class="container " style="padding:20px;">
            <div class="row">

                <div class="col-lg-4" style="height:300px;">
                    <div>
                        <img style="margin-top:10px" width="80%" src="https://res.cloudinary.com/dplelrpij/image/upload/f_auto,q_auto/oye16bvkrmxt9pe1y2pq" alt="logo" /></a>
                    </div>
                    <p style="text-align:left; height: 30px;font-size: 12px;"><i class="fa-regular fa-building"></i> Công ty TNHH thiết bị và công nghệ cao Inteso </p>
                    <p style="text-align:left; height: 30px;font-size: 12px;"><i class="fa-solid fa-envelope"></i> Email: Voquyvinh@gmail.com </p>
                    <p style="text-align:left; height: 30px;font-size: 12px;"><i class="fa-solid fa-phone"></i> Tel: 0936363785</p>
                    <p style="text-align:left; height: 30px;font-size: 12px;"><i class="fa-solid fa-location-dot"></i> Address: Hai Ba Trung, Ha Noi, Viet Nam</p>
                </div>
                <div class="col-lg-1">
                </div>
                <div class="col-lg-4">
                    <p style="text-align:left; height: 30px;font-size: 22px;margin-bottom: 20px;">THÔNG TIN THÊM</p>
                    <p style="text-align:left; height: 30px;font-size: 12px;"><i class="fa-solid fa-circle-info"></i> Hướng dẫn đặt hàng</p>
                    <p style="text-align:left; height: 30px;font-size: 12px;"><i class="fa-solid fa-circle-info"></i> Chính sách chung</p>
                    <p style="text-align:left; height: 30px;font-size: 12px;"><i class="fa-solid fa-circle-info"></i> Chính sách giao hàng</p>
                    <p style="text-align:left; height: 30px;font-size: 12px;"><i class="fa-solid fa-circle-info"></i> Chính sách đổi trả</p>
                    <p style="text-align:left; height: 30px;font-size: 12px;"><i class="fa-solid fa-circle-info"></i> Phương thức thanh toán</p>
                    <p style="text-align:left; height: 30px;font-size: 12px;"><i class="fa-solid fa-circle-info"></i> Chính sách bảo mật</p>
                </div>
                <div class="col-lg-3">
                    <p style="text-align:left; height: 30px;font-size: 22px;margin-bottom: 20px;">VỀ CHÚNG TÔI</p>
                    <p style="text-align:left; height: 30px;font-size: 12px;"><i class="fa-solid fa-address-card"></i> Về chúng tôi</p>
                    <p style="text-align:left; height: 30px;font-size: 12px;"><i class="fa-solid fa-user-group"></i> Đội ngũ nhân sự</p>
                    <p style="text-align:left; height: 30px;font-size: 22px;margin-bottom: 20px;">Cổng thanh toán</p>
                    <img src="assets/images/footer_trustbadge.webp" style="margin-top:20px; width:200px" alt="">
                </div>
            </div>
            

    </footer>
    <div style="background-color: #5b5b5b;width:100%">
        <p style="text-align:center; color:white">
            Copyright 2024 © inteso.com.vn
        </p>
    </div>
  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="~/vendor/jquery/jquery.min.js"></script>
  <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="~/assets/js/isotope.min.js"></script>
  <script src="~/assets/js/owl-carousel.js"></script>
  <script src="~/assets/js/counter.js"></script>
  <script src="~/assets/js/custom.js"></script>
    <script>
        window.onload = checkWidth;
        window.onresize = checkWidth;

        function checkWidth() {
            var element = document.getElementById("lienhe");
            if (window.innerWidth < 992) {
                element.style.display = "none";
            } else {
                element.style.display = "block";
            }
        }
    </script>
  </body>
</html>