﻿@page
@model ProjectIntesoV1.Pages.BlogListModel
@{
}
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="breadcrumb"><a href="#">Trang chủ</a> / Danh sách tin tức</span>
                <h3 style="font-family: 'Open Sans';">Danh sách tin tức</h3>
            </div>
        </div>
    </div>
</div>

<div class="section properties" style="margin-top:50px;">
    <div class="container">
        <ul class="properties-filter">
            <div style="width: 100%; display: flex; justify-content:center; padding:10px;">
                <form style="position: relative;" method="get" action="BlogList">
                    <input type="hidden" name="categoryId" value="@ViewData["categoryId"]" />

                    <input type="text" placeholder="Tìm kiếm tin tức" name="searchString" style="border: 1px solid #ddd;padding: 10px;font-size: 18px; border-radius:20px;width:400px;margin-top:5px " class="form-control" />
                    <button style="position: absolute;right:9px; top:14px; color:gray; cursor:pointer; border: none; background-color: white; height: 15px;font-size:22px" type="submit">
                        <i style="position: absolute;right:2px; top:5px; " class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
            <li onclick="location.href = './BlogList?categoryId=&searchString=@ViewData["searchString"]&sortOrder=@ViewData["sortOrder"]'">
                <a class="@(string.IsNullOrEmpty(ViewData["categoryId"].ToString())?"is_active":"")" href="">Tất cả</a>
            </li>
            @foreach (var category in Model.Categories)
            {
                <li onclick="location.href = './BlogList?categoryId=@category.Id&searchString=@ViewData["searchString"]&sortOrder=@ViewData["sortOrder"]'">
                    <a class="@(ViewData["categoryId"].ToString()==category.Id.ToString()?"is_active":"")">@category.Vname</a>
                </li>
            }
        </ul>
        <form method="get" style="display:flex; justify-content:end;width:100%;padding:8px;" action="/BlogList">
            <input type="hidden" name="categoryId" value="@ViewData["categoryId"]" />
            <input type="hidden" name="searchString" value="@ViewData["searchString"]" />
            <select class="form-select" style="width:200px;" onchange="this.form.submit()" name="sortOrder">
                <option value="">Sắp xếp mặc định</option>
                <option id="opPrice_desc" value="price_desc">Sắp xếp từ mới đến cũ </option>
                <option value="price_asc" id="opPrice_asc">Sắp xếp từ cũ đến mới</option>
            </select>
        </form>
        <script>
            var opPrice_desc = document.getElementById("opPrice_desc");
            var opPrice_asc = document.getElementById("opPrice_asc");
            var curOp = @(ViewData["sortOrder"].ToString() == "price_desc" ? 1 : 0);
            curOp = @(string.IsNullOrEmpty(ViewData["sortOrder"].ToString()) ? -1 : 0);
            if (curOp == 1) {
                opPrice_desc.setAttribute("selected", "selected");
            }
            if (curOp == 0) {
                opPrice_asc.setAttribute("selected", "selected");
            }
        </script>
        <div class="row properties-box">
            @foreach (var product in Model.DisplayedBlog)
            {
                <div class="col-lg-4 col-md-4 col-sm-6 align-self-center mb-30 properties-items ">
                    <div class="item">
                        <a href="./BlogDetail?pid=@product.BlogId"><img width="100%" ; style="max-height:196px" src="@product.Img" alt=""></a>
                        <div>
                            <span class="category"> @product.Category.Vname</span>
                        </div>

                        <div style="width:100%; height:50px;">

                            <h4 style="text-align:center; padding-top: 8px;font-size:18px;">
                                <a href="./BlogDetail?pid=@product.BlogId">@product.Title</a>
                            </h4>
                        </div>
                        <ul>
                        </ul>
                        <div style="width:100%; height:24px;">
                            @product.Vsummary
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="pagination">
                    @if (Model.TotalPages != 0)
                    {
                        <li><a href="/BlogList?currentIndex=1&categoryId=@ViewData["categoryId"]&searchString=@ViewData["searchString"]&sortOrder=@ViewData["sortOrder"]"> <i class="fa-solid fa-backward"></i> </a></li>
                        @if (Model.curentPage - 1 > 0)
                        {
                            <li><a href="/BlogList?currentIndex=@(Model.curentPage-1)&categoryId=@ViewData["categoryId"]&searchString=@ViewData["searchString"]&sortOrder=@ViewData["sortOrder"]">@(Model.curentPage - 1)</a></li>
                        }

                        <li><a class="is_active" href="/BlogList?currentIndex=@Model.curentPage&categoryId=@ViewData["categoryId"]&searchString=@ViewData["searchString"]&sortOrder=?@ViewData["sortOrder"]">@Model.curentPage</a></li>

                        @if (Model.curentPage + 1 != Model.TotalPages && Model.curentPage + 1 < Model.TotalPages)
                        {
                            <li><a href="/BlogList?currentIndex=@(Model.curentPage+1)&categoryId=@ViewData["categoryId"]&searchString=@ViewData["searchString"]&sortOrder=@ViewData["sortOrder"]">@(Model.curentPage + 1)</a></li>
                        }

                        @if (Model.curentPage < Model.TotalPages - 1)
                        {
                            <li>...</li>
                        }

                        @if (Model.curentPage != Model.TotalPages)
                        {
                            <li><a href="/BlogList?currentIndex=@Model.TotalPages&categoryId=@ViewData["categoryId"]&searchString=@ViewData["searchString"]&sortOrder=@ViewData["sortOrder"]">@Model.TotalPages</a></li>
                        }
                        @if (Model.TotalPages > 1 && Model.curentPage < Model.TotalPages)
                        {
                            <li><a href="/BlogList?currentIndex=@Model.TotalPages&categoryId=@ViewData["categoryId"]&searchString=@ViewData["searchString"]&sortOrder=@ViewData["sortOrder"]"><i class="fa-solid fa-forward"></i></a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>