﻿@page
@model ProjectIntesoV1.Pages.BlogDetailModel
@{
}
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="breadcrumb"><a href="/Index">Trang chủ</a>  /  Tin tức</span>
                <h3 style="font-family: 'Open Sans';">@Model.blog.Title</h3>
            </div>
        </div>
    </div>
</div>

<div class="single-property section" style="margin-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                 <div class="main-content">
                    <h3 style="padding-bottom:10px; margin-bottom: 0;">@Model.blog.Title</h3>
                    <p style="color:#c36f41"><i class="fa-solid fa-calendar-days"></i> @Model.blog.CreateDate.Value.ToString("dd/MM/yyyy") <span style="margin-left: 10px;"><i class="fa-solid fa-eye"></i> @Model.blog.NumberOfViews</span> <span style="margin-left: 10px;"><i class="fa-solid fa-user"></i> @Model.blog.Author.FullName</span></p>
                    <div>
                        @Html.Raw(Model.blog.Vcontent)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>