﻿@page
@model ProjectIntesoV1.Pages.CartControllerModel
@{
    float total = 0;
}
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="breadcrumb"><a href="/Index">Trang chủ</a>  /  Giỏ hàng</span>
                <h3 style="font-family: 'Open Sans';">Giỏ hàng</h3>
            </div>
        </div>
    </div>
</div>

<div class="single-property section">
    <div class="container">
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="width:20%">Tên sản phẩm</th>
                        <th style="width:17%">Ảnh</th>
                        <th style="width:21%">Đơn giá</th>
                        <th style="width:21%">Số lượng</th>
                        <th style="width:21%">Tổng cộng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CartItems)
                    {
                        <tr>
                            <td>@item.Product.Vname
                             <br />
                                <a style="text-decoration: none;color:red;font-size:15px;" href="/RemoveCart?productId=@item.Product.Id"><i class="fa-solid fa-trash"></i></a>
                         </td>
                            <td style="max-width:200px;"><img  style="width:100%" src="@item.Product.Img"  /></td>
                            <td>@String.Format("{0:#,##0}", item.Product.Price)  VNĐ</td>
                            <td>
                                <button class="btn btn-light" id="addToCartButton" onclick="addToCart(@item.Product.Id,@(item.Quantity-1))" >-</button>
                                <input id="quantityNumber" type="number" class="form-control" style="display:inline-block; width: 40%;min-width: 70px;" step="1" name="quantity" value="@item.Quantity" />
                                <button  class="btn btn-light" id="addToCartButton" onclick="addToCart(@item.Product.Id,@(item.Quantity+1))" >+</button>
                            </td>
                            <td>@String.Format("{0:#,##0}", item.subTotal)  VNĐ</td>
                        </tr>
                        @(total += item.subTotal);
                    }
                </tbody>
            </table>
            <h2>Tổng tiền: @String.Format("{0:#,##0}", total) VNĐ</h2>
            <button class="btn btn-primary" style="width: 200px;margin: 10px">Thanh toán</button>
        </div>
    </div>
</div>
<!-- Bootstrap modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Xóa sản phẩm trong giỏ hàng thành công</h5>
            </div>
            <div class="modal-body">
                Item added to cart successfully.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Tiếp tục mua hàng</button>
                <a type="button" class="btn btn-warning" href="CartController">Xem giỏ hàng</a>
            </div>
        </div>
    </div>
</div>
<script>
    function addToCart(productId, quantity) {

        $.ajax({
            type: 'GET',
            url: '/AddCart?action=edit&productId=' + productId + '&quantity=' + quantity, // Specify the handler and query parameters


            success: function (response) {
                $('#quantityNumber').val(quantity) ; // Show success modal
            },
            error: function (xhr, textStatus, errorThrown) {
                $('#message').text('Error adding item to cart: ' + errorThrown);
            }
        });
    }
</script>