﻿@page
@using ProjectIntesoV1.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    int i = 1;
}

<div class="container-fluid">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            @foreach (Banner b in Model.listBanners)
            {
                <div class="carousel-item @(i==1?"active":"" )">
                    <img src="@b.UrlFile" class="d-block w-100" alt="...">
                </div>
                @(i++)
            }

        </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </button>
    </div>
</div>

<div class="featured section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image">
                    <a style="background-color: none !important; " href="property-details.html">
                        <img src="assets/images/featured-icon.png" alt=""
                             style="max-width: 60px; padding: 0px; color: f35525">
                    </a>
                </div>
                <div style="  text-align: center;font-family:Open Sans ; margin-left:25px" >
                    <h3>@Model.IntroBlog.Title</h3>
                    <div style="padding-left:55px; padding-top:15px;">
                        @Html.Raw(Model.IntroBlog.Vcontent)
                    </div>
                    <div style="witdh:100%; display:flex; justify-content: center; margin-top:15px;">
                        <a style="text-decoration: none; border: 1px solid #f35525; border-radius:20px; color:#f35525;cursor:pointer; padding: 5px;box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.1);">Xem thêm ></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div style="padding-top: 49px;">
                    <iframe style="box-shadow: 0 0 5px 5px lightgray;" width="500" height="281" src="https://www.youtube.com/embed/0FF-64kR_qY?si=O6aQ21U9S_a5Ze-k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="fun-facts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="counter">
                                <h2 class="timer count-title count-number" data-to="34" data-speed="5000"></h2>
                                <p class="count-text ">Đại lí<br>Toàn quốc</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="counter">
                                <h2 class="timer count-title count-number" data-to="12" data-speed="5000"></h2>
                                <p class="count-text ">Năm<br>Kinh nghiệm</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="counter">
                                <h2 class="timer count-title count-number" data-to="10" data-speed="5000"></h2>
                                <p class="count-text ">Giải thưởng<br>Lớn nhỏ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section best-deal">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-heading">
                    <h6>| Các sản phẩm nổi bật</h6>
                    <h2>Những sản phẩm làm nên thương hiệu!</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="tabs-content">
                    <div class="row">
                        <div class="nav-wrapper ">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="appartment-tab" data-bs-toggle="tab"
                                            data-bs-target="#appartment" type="button" role="tab" aria-controls="appartment"
                                            aria-selected="true">
                                        Máy xăng
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="villa-tab" data-bs-toggle="tab" data-bs-target="#villa" type="button"
                                            role="tab" aria-controls="villa" aria-selected="false">
                                        Máy dầu
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="penthouse-tab" data-bs-toggle="tab" data-bs-target="#penthouse"
                                            type="button" role="tab" aria-controls="penthouse" aria-selected="false">
                                        Bộ công cụ
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="appartment" role="tabpanel" aria-labelledby="appartment-tab">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="info-table">
                                            <ul>
                                                <li>Động cơ  <span> Xăng 4 thì</span></li>
                                                <li>Sức mạnh <span>7 sức ngựa</span></li>
                                                <li>Trọng lượng <span>47kg</span></li>
                                                <li>Kích thước <span>Nhỏ gọn</span></li>
                                                <li>Bảo hành <span> 1 năm</span></li>
                                                <li>Giao hàng <span>Toàn quốc</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <img src="assets/images/mayxang.jpg" alt="">
                                    </div>
                                    <div class="col-lg-4    ">
                                        <h4>Thông tin chi tiết</h4>
                                        <p>
                                            Máy Làm Đất Đa Năng Trâu Vàng IN-1WG4 Giải Pháp Hoàn Hảo Cho Nông Nghiệp Hiện Đại<br />
                                            Mạnh mẽ - Chất lượng - Hiệu quả<br />

                                            Trâu Vàng IN-1WG4 là dòng máy làm đất đa năng được thiết kế tiên tiến, tích hợp nhiều chức năng, giúp bà con nông dân giải quyết công việc cày xới, bón phân, vun luống,... một cách nhanh chóng và hiệu quả.
                                            <br />
                                            <b>   Với Máy Làm Đất Đa Năng Trâu Vàng IN-1WG4, bà con sẽ được:</b>
                                            <br />

                                            Tiết kiệm thời gian và công sức: năng suất làm việc gấp nhiều lần so với phương pháp thủ công.
                                            <br /> Giảm chi phí sản xuất: tiết kiệm nhiên liệu, chi phí thuê nhân công.
                                            <br />  Nâng cao hiệu quả canh tác: giúp cây trồng phát triển tốt hơn, cho năng suất cao hơn.

                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="villa" role="tabpanel" aria-labelledby="villa-tab">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="info-table">
                                            <ul>
                                                <li>Động cơ  <span>Diesel</span></li>
                                                <li>Sức mạnh <span>5.5 sức ngựa</span></li>
                                                <li>Trọng lượng <span>88kg</span></li>
                                                <li>Kích thước <span>Nhỏ gọn</span></li>
                                                <li>Bảo hành <span> 1 năm</span></li>
                                                <li>Giao hàng <span>Toàn quốc</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <img src="assets/images/KA_KB.jpg" alt="">
                                    </div>
                                    <div class="col-lg-4">
                                        <h4>Thông tin chi tiết</h4>
                                        <p>
                                            Máy làm đất đa năng trâu vàng hai chức năng đào rãnh và phay đất
                                            <br />
                                            Máy được trang bị hai chức năng chính: đào rãnh và phay đất, giúp người nông dân tiết kiệm thời gian và công sức trong quá trình canh tác.
                                            <br />
                                            Năng suất làm việc lên tới 800m2 đến 1200m2 cho 1 giờ <br />
                                            <b> Lợi ích khi sử dụng:</b>

                                            <br />
                                            Tiết kiệm thời gian và công sức: Máy giúp người nông dân hoàn thành công việc nhanh chóng hơn, giảm bớt gánh nặng lao động.
                                            <br />
                                            Tăng năng suất lao động: Máy giúp tăng năng suất canh tác, mang lại hiệu quả kinh tế cao hơn.
                                            <br />
                                            Bảo vệ sức khỏe: Máy giúp người nông dân giảm bớt việc tiếp xúc trực tiếp với đất đai, hóa chất, bảo vệ sức khỏe tốt hơn.
                                        </p>
                                        <div class="icon-button">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="penthouse" role="tabpanel" aria-labelledby="penthouse-tab">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="info-table">
                                            <ul>
                                                <li>Số lượng  <span>13 bộ</span></li>
                                                <li>Giá cả <span>cạnh tranh</span></li>
                                                <li>Trọng lượng <span>Nhỏ nhẹ</span></li>
                                                <li>Kích thước <span>Nhỏ gọn</span></li>
                                                <li>Bảo hành <span> 1 năm</span></li>
                                                <li>Giao hàng <span>Toàn quốc</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <img src="assets/images/bocongcu.jpg" alt="">
                                    </div>
                                    <div class="col-lg-4">
                                        <h4>Thông tin chi tiết</h4>
                                        <p>
                                            1. Bộ xới đất:  Xới nhỏ đất, xới cỏ, xới lúa.
                                            <br />   2. Bộ tạo rãnh - lên luống:  Tạo rãnh, lên luống, lên võng, vun gốc cho cây.
                                            <br />  3. Bộ đánh có:  Dùng để phay có và chăm sóc cây ăn trái, cây công nghiệp.
                                            <br />   4. Bộ xới đất cứng, móc đất sâu:  Xới đất cứng, móc đất sâu, đào hố trồng cây.
                                            <br />    5. Bộ xới đất lúa:  Xới đất lúa, làm nhỏ đất trước khi cấy lúa.
                                            <br />   6. Bộ làm ruộng:
                                            <br />   Công dụng: Làm nhỏ đất trước khi gặt (bao cả gốc rạ).
                                            <br />   7. Bộ bừa:  Dùng trong công tác bừa ruộng.
                                            <br />   8. Bánh lồng sắt:  Dùng để di chuyển máy trong các công tác cây đất, tra ngô.
                                            <br />  9. Bộ tăng chiều rộng xới: Tăng chiều rộng xới của bộ TN-1 lên đến 100cm.
                                            <br />   10. Bộ lưới cây:  Dùng để cây đất, tạo rãnh trồng mía.
                                            <br />  11. Bộ cân bằng chắn đất: Tăng độ cân bằng máy và chân đất trong quá trình làm việc.
                                            <br />   12. Bộ phun áp lực cao:  Phun phân bón lá, thuốc BVTV, rửa chuồng trại, sân vườn.
                                            <br />  13. Bộ tra hạt 3 hàng:  Tra (gieo) 2 hàng ngô, 3 hàng đậu, đậu phộng.
                                        </p>
                                        <div class="icon-button">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="properties section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <div class="section-heading text-center">
                    <h6>| Sản phẩm</h6>
                    <h2>Các sản phẩm mới nhất</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var product in Model.DisplayedProducts)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 align-self-center mb-30 properties-items ">
                    <div class="item">
                        <a href="./ProductDetail?pid=@product.Id"><img src="@product.Img" alt=""></a>
                        <div>
                            <span class="category"> @product.Category.Vname</span>
                        </div>
                        <div style="width:100%; height:24px;">
                            @if (product.Price == -1)
                            {
                                <h6 style="text-align:center;width:100%">Liên hệ</h6>
                            }
                            else
                            {
                                <h6 style="text-align:center;width:100%">@String.Format("{0:#,##0}", product.Price)  VNĐ</h6>
                            }
                        </div>
                        <div style="width:100%; height:50px;">

                            <h4 style=" font-weight:400;text-align:center; padding-top: 8px;font-size:18px;">
                                <a href="./ProductDetail?pid=@product.Id" >@product.Vname</a>
                            </h4>
                        </div>
                        <ul>
                        </ul>

                        <div class="main-button">

                            <button class="btn btn-warning" id="addToCartButton" onclick="addToCart(@product.Id)" style="color: white; padding: 5px 15px;"><i style="font-size:20px;" class="fa-solid fa-cart-plus"></i></button>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Bootstrap modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Thêm giỏ hàng thành công</h5>
            </div>
            <div class="modal-body">
                Item added to cart successfully.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Tiếp tục mua hàng</button>
                <a type="button" class="btn btn-warning" href="CartController">Xem giỏ hàng</a>
            </div>
        </div>
    </div>
</div>
<script>
    function addToCart(productId) {
        var quantity = 1;
     
        $.ajax({
            type: 'GET',
            url: '/AddCart?action=add&productId=' + productId + '&quantity=' + quantity, // Specify the handler and query parameters

          
            success: function (response) {
                $('#successModal .modal-body').text(response.message); // Update modal body with response message
                $('#successModal').modal('show'); // Show success modal
            },
            error: function (xhr, textStatus, errorThrown) {
                $('#message').text('Error adding item to cart: ' + errorThrown);
            }
        });
    }
</script>
<div class="contact section" id="contactF">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <div class="section-heading text-center">
                    <h6>| Liên hệ</h6>
                    <h2>Mọi thắc mắc hãy gửi liên hệ về cho chúng tôi</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7451.577027821536!2d105.88844469461488!3d20.961006500000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135afaf75ee08a1%3A0xec9947efffb8f88b!2zQ8O0bmcgdHkgdG5oaCB0aGnhur90IGLhu4sgdsOgIGPDtG5nIG5naOG7hyBJTlRFU08!5e0!3m2!1svi!2s!4v1712130003447!5m2!1svi!2s"
                            width="100%" height="915px;" frameborder="0"
                            style="border:0; border-radius: 10px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);"
                            allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="col-lg-5">
                <form id="contact-form"  method="post">
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="name">Họ và tên:</label>
                                <input type="text" asp-for="Contact.Name" placeholder="Tên của bạn..." autocomplete="on" required>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="email">Email</label>
                                <input type="text" asp-for="Contact.Email" placeholder="Địa chỉ E-mail..."
                                       required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="email">Số điện thoại</label>
                                <input type="text" asp-for="Contact.Phone" placeholder="Số điện thoại..."
                                       required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="email">Địa chỉ</label>
                                <input type="text" asp-for="Contact.Address" placeholder="Địa chỉ..."
                                       required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="subject">Tiêu đề</label>
                                <input type="text" asp-for="Contact.Title" placeholder="Tiêu đề..." autocomplete="on">
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="message">Nội dung</label>
                                <textarea asp-for="Contact.MessContent" placeholder="Nội dung tin nhắn"></textarea>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <button type="submit" id="form-submit" class="orange-button">Gửi</button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>