﻿@page
@model ProjectIntesoV1.Pages.ProductListModel
@{
}
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="breadcrumb"><a href="#">Trang chủ</a> / Danh sách sản phẩm</span>
                <h3 style="font-family: 'Open Sans';"> Danh sách sản phẩm</h3>
            </div>
        </div>
    </div>
</div>

<div class="section properties">
    <div class="container">
        <ul class="properties-filter">
            <li onclick="location.href = './ProductList?categoryId=&searchString=@ViewData["searchString"]&sortOrder=@ViewData["sortOrder"]'">
                <a class="@(string.IsNullOrEmpty(ViewData["categoryId"].ToString())?"is_active":"")" href="">Tất cả</a>
            </li>
            @foreach (var category in Model.Categories)
            {
                <li onclick="location.href = './ProductList?categoryId=@category.Id&searchString=@ViewData["searchString"]&sortOrder=@ViewData["sortOrder"]'">
                    <a class="@(ViewData["categoryId"].ToString()==category.Id.ToString()?"is_active":"")">@category.Vname</a>
                </li>
            }
        </ul>
        <form method="get" style="display:flex; justify-content:end;width:100%;padding:8px;" action="/ProductList">
            <input type="hidden" name="categoryId" value="@ViewData["categoryId"]" />
            <input type="hidden" name="searchString" value="@ViewData["searchString"]" />
            <select class="form-select" style="width:200px;" onchange="this.form.submit()" name="sortOrder">
                <option value="">Sắp xếp mặc định</option>
                <option id="opPrice_desc" value="price_desc">Sắp xếp theo giá cao đến thấp </option>
                <option value="price_asc" id="opPrice_asc">Sắp xếp theo giá thấp đến cao</option>
            </select>
        </form>
        <script>
            var opPrice_desc = document.getElementById("opPrice_desc");
            var opPrice_asc = document.getElementById("opPrice_asc");
            var curOp = @(ViewData["sortOrder"].ToString() == "price_desc" ? 1 : 0);
            curOp = @(string.IsNullOrEmpty(ViewData["sortOrder"].ToString()) ? -1 : 0);
            if (curOp == 1) {
                opPrice_desc.setAttribute("selected", "selected");
            }
            if (curOp == 0) {
                opPrice_asc.setAttribute("selected", "selected");
            }
        </script>
        <div class="row properties-box">
            @foreach (var product in Model.DisplayedProducts)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 align-self-center mb-30 properties-items ">
                    <div class="item">
                        <a href="./ProductDetail?pid=@product.Id"><img src="@product.Img" alt=""></a>
                        <div>
                            <span class="category"> @product.Category.Vname</span>
                        </div>
                        <div style="width:100%; height:24px;">
                            @if (product.Price == -1)
                            {
                                <h6 style="text-align:center;width:100%">Liên hệ</h6>
                            }
                            else
                            {
                                <h6 style="text-align:center;width:100%">@String.Format("{0:#,##0}", product.Price)  VNĐ</h6>
                            }
                        </div>
                        <div style="width:100%; height:50px;">

                            <h4 style=" font-weight:400;text-align:center; padding-top: 8px;font-size:18px;">
                                <a href="./ProductDetail?pid=@product.Id">@product.Vname</a>
                            </h4>
                        </div>
                        <ul>
                        </ul>

                        <div class="main-button">
                            <button class="btn btn-warning" id="addToCartButton" onclick="addToCart(@product.Id)" style="color: white; padding: 5px 15px;"><i style="font-size:20px;" class="fa-solid fa-cart-plus"></i></button>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row">
            <div class="col-lg-12">
                <ul class="pagination">
                    @if (Model.TotalPages != 0)
                    {
                        <li><a href="/ProductList?currentIndex=1&categoryId=@ViewData["categoryId"]&searchString=@ViewData["searchString"]&sortOrder=@ViewData["sortOrder"]"><i class="fa-solid fa-backward"></i></a></li>
                        @if (Model.curentPage - 1 > 0)
                        {
                            <li><a href="/ProductList?currentIndex=@(Model.curentPage-1)&categoryId=@ViewData["categoryId"]&searchString=@ViewData["searchString"]&sortOrder=@ViewData["sortOrder"]">@(Model.curentPage - 1)</a></li>
                        }

                        <li><a class="is_active" href="/ProductList?currentIndex=@Model.curentPage&categoryId=@ViewData["categoryId"]&searchString=@ViewData["searchString"]&sortOrder=?@ViewData["sortOrder"]">@Model.curentPage</a></li>

                        @if (Model.curentPage + 1 != Model.TotalPages && Model.curentPage + 1 < Model.TotalPages)
                        {
                            <li><a href="/ProductList?currentIndex=@(Model.curentPage+1)&categoryId=@ViewData["categoryId"]&searchString=@ViewData["searchString"]&sortOrder=@ViewData["sortOrder"]">@(Model.curentPage + 1)</a></li>
                        }

                        @if (Model.curentPage < Model.TotalPages - 1)
                        {
                            <li>...</li>
                        }

                        @if (Model.curentPage != Model.TotalPages)
                        {
                            <li><a href="/ProductList?currentIndex=@Model.TotalPages&categoryId=@ViewData["categoryId"]&searchString=@ViewData["searchString"]&sortOrder=@ViewData["sortOrder"]">@Model.TotalPages</a></li>
                        }
                        @if (Model.TotalPages > 1 && Model.curentPage < Model.TotalPages)
                        {
                            <li><a href="/ProductList?currentIndex=@Model.TotalPages&categoryId=@ViewData["categoryId"]&searchString=@ViewData["searchString"]&sortOrder=@ViewData["sortOrder"]"><i class="fa-solid fa-forward"></i></a></li>
                        }
                    }

                </ul>
            </div>
        </div>
    </div>

</div>
<!-- Bootstrap modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Thêm giỏ hàng thành công</h5>
            </div>
            <div class="modal-body">
                Item added to cart successfully.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Tiếp tục mua hàng</button>
                <a type="button" class="btn btn-warning" href="CartController">Xem giỏ hàng</a>
            </div>
        </div>
    </div>
</div>
<script>
    function addToCart(productId) {
        var quantity = 1;

        $.ajax({
            type: 'GET',
            url: '/AddCart?action=add&productId=' + productId + '&quantity=' + quantity, // Specify the handler and query parameters


            success: function (response) {
                $('#successModal .modal-body').text(response.message); // Update modal body with response message
                $('#successModal').modal('show'); // Show success modal
            },
            error: function (xhr, textStatus, errorThrown) {
                $('#message').text('Error adding item to cart: ' + errorThrown);
            }
        });
    }
</script>