﻿    @page
@model ProjectIntesoV1.Pages.ProductDetailModel
@{
}
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="breadcrumb"><a href="/Index">Trang chủ</a>  /  Chi tiết sản phẩm</span>
                <h3 style="font-family: 'Open Sans';">@Model.product.Vname</h3>
            </div>
        </div>
    </div>
</div>

<div class="single-property section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="main-image">
                    <img src="@Model.product.Img" alt="">
                </div>
               
            </div>
            <div class="col-lg-5">
                <div class="info-table" style="margin-bottom: 10px;margin-left: 10px;">
                    <h3 style="margin-bottom: 10px;">@Model.product.Vname</h3>
                    @if (Model.product.Price == -1)
                    {
                        <h4 style="color:#f35525;">Giá bán: Liên hệ</h4>
                    }
                    else
                    {
                        <h4 style="color:#f35525;">Giá bán: @String.Format("{0:#,##0}", Model.product.Price)  VNĐ</h4>
                    }
                    <p style="margin-bottom: 10px">
                        Giá chưa bao gồm thuế VAT
                   </p>
                    <ul>
                        @Html.Raw(Model.product.TechnicalInfor) 
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div style="background-color: #fbd9cf; padding:.95rem;text-align:center; border-radius:10px;witdh:100%;margin-bottom: 12px;">
                    <div class="issupportt" style=" font-weight:bold; padding-bottom: 8px;color: #f1202a">LIÊN HỆ TƯ VẤN</div>
                    <ul class="block-contact issupport clr">
                        <li>
                            <span class="vname" style="  text-transform: uppercase; font-weight:bold;">Hotline 1</span>
                            <span class="vline">
                                <a href="tel:0936363785" style="display:block;text-decoration: none; background-color: lightgray;border-radius:15px;padding: 5px ">
                                    <i class="fa-solid fa-phone"></i> 0936363785
                                </a>
                            </span>
                        </li>
                        <li>
                            <span class="vname" style="  text-transform: uppercase; font-weight:bold;" >Hotline 2</span>
                            <span class="vline">
                                <a href="tel:0936363785" style="display:block;text-decoration: none; background-color: lightgray;border-radius:15px;padding: 5px ">
                                    <i class="fa-solid fa-phone"></i> 0936363785
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
                <div style="background-color: #fbd9cf; padding:.95rem;text-align:center; border-radius:10px;witdh:100%;">
                    <div class="issupportt" style=" font-weight:bold; padding-bottom: 8px;color: #f1202a">CHÚNG TÔI CAM KẾT</div>
                    <ul class="block-contact issupport clr">
                        <li style="margin-bottom: 8px;">
                            <span class="vname"> <i class="fa-solid fa-circle-check"></i>     Hàng chính hãng</span>
                            
                        </li>
                        <li style="margin-bottom: 8px;">
                            <span class="vname"><i class="fa-solid fa-calendar-check"></i>  Bảo hành 1 năm</span>

                        </li>
                        <li style="margin-bottom: 8px;">
                            <span class="vname"> <i class="fa-solid fa-star"></i> 100% chất lượng</span>

                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-12">
                 <div class="main-content">
                    <h4>CHI TIẾT SẢN PHẨM</h4>
                    <div>
                        @Html.Raw(Model.product.Vdescription)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>