﻿@page
@model ProjectIntesoV1.Pages.AdminSite.ProductManage.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/Layout2.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Ename)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Ename)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Vname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Vname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Edescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Edescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Vdescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Vdescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Slug)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Slug)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Img)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Img)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.TechnicalInfor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.TechnicalInfor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Author.AccountId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
