﻿@page
@model ProjectIntesoV1.Pages.AdminSite.ProductManage.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/Layout2.cshtml";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.Id" />
           @*  <div class="form-group">
                <label asp-for="Product.Ename" class="control-label"></label>
                <input asp-for="Product.Ename" class="form-control" />
                <span asp-validation-for="Product.Ename" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Product.Vname" class="control-label"></label>
                <input asp-for="Product.Vname" class="form-control" />
                <span asp-validation-for="Product.Vname" class="text-danger"></span>
            </div>
        @*     <div class="form-group">
                <label asp-for="Product.Edescription" class="control-label"></label>
                <input asp-for="Product.Edescription" class="form-control" />
                <span asp-validation-for="Product.Edescription" class="text-danger"></span>
            </div> *@
       
          @*   <div class="form-group">
                <label asp-for="Product.Slug" class="control-label"></label>
                <input asp-for="Product.Slug" class="form-control" />
                <span asp-validation-for="Product.Slug" class="text-danger"></span>
            </div> *@
           
            <div class="form-group">
                <label asp-for="Product.Img" class="control-label"></label>
                <input asp-for="Product.Img" class="form-control" />
                <span asp-validation-for="Product.Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CreateDate" class="control-label"></label>
                <input asp-for="Product.CreateDate" class="form-control" />
                <span asp-validation-for="Product.CreateDate" class="text-danger"></span>
            </div>
      @*       <div class="form-group">
                <label asp-for="Product.AuthorId" class="control-label"></label>
                <select asp-for="Product.AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                <span asp-validation-for="Product.AuthorId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Product.CategoryId" class="control-label"></label>
                <select asp-for="Product.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Stock" class="control-label"></label>
                <input asp-for="Product.Stock" class="form-control" />
                <span asp-validation-for="Product.Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.TechnicalInfor" class="control-label"></label>
                <textarea asp-for="Product.TechnicalInfor" class="form-control" id="editor2"></textarea>
                <span asp-validation-for="Product.TechnicalInfor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Vdescription" class="control-label"></label>
                <textarea asp-for="Product.Vdescription" class="form-control" id="editor1"></textarea>
                <span asp-validation-for="Product.Vdescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Status" class="control-label"></label>
                <input asp-for="Product.Status" type="radio" value="1" />Active
                <input asp-for="Product.Status" type="radio" value="0" />Inactive
                <span asp-validation-for="Product.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script>
    CKEDITOR.replace('editor1');
</script>
<script>
    CKEDITOR.replace('editor2');
</script>
<div>
    <a asp-page="./Index">Back to List</a>
</div>

