﻿@page
@model ProjectIntesoV1.Pages.AdminSite.PCategory.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/Layout2.cshtml";
}

<h1>Create</h1>

<h4>ProductCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductCategory.Vname" class="control-label"></label>
                <input asp-for="ProductCategory.Vname" class="form-control" />
                <span asp-validation-for="ProductCategory.Vname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCategory.Status" class="control-label"></label>
                <input asp-for="ProductCategory.Status" class="form-control" />
                <span asp-validation-for="ProductCategory.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCategory.Ename" class="control-label"></label>
                <input asp-for="ProductCategory.Ename" class="form-control" />
                <span asp-validation-for="ProductCategory.Ename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

