﻿@page
@model ProjectIntesoV1.Pages.AdminSite.BannerManage.CreateModel
@{
    Layout = "/Pages/Shared/Layout2.cshtml";
}
<h4>Banner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Banner.Title" class="control-label"></label>
                <input asp-for="Banner.Title" class="form-control" />
                <span asp-validation-for="Banner.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Banner.UrlFile" class="control-label"></label>
                <input asp-for="Banner.UrlFile" class="form-control" />
                <span asp-validation-for="Banner.UrlFile" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Banner.CreateDate" class="control-label"></label>
                <input asp-for="Banner.CreateDate" class="form-control" />
                <span asp-validation-for="Banner.CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Banner.SortOrder" class="control-label"></label>
                <input asp-for="Banner.SortOrder" class="form-control" />
                <span asp-validation-for="Banner.SortOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Banner.Status" class="control-label"></label>
                <input asp-for="Banner.Status" type="radio" value="1" />Active
                <input asp-for="Banner.Status" type="radio" value="0" />Inactive
                <span asp-validation-for="Banner.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

