﻿@page
@model ProjectIntesoV1.Pages.AdminSite.BannerManage.DetailsModel
@{
    Layout = "/Pages/Shared/Layout2.cshtml";
}
<div>
    <h4>Banner</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Banner.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Banner.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Banner.UrlFile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Banner.UrlFile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Banner.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Banner.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Banner.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Banner.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Banner.SortOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Banner.SortOrder)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Banner.BannerId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
