﻿@page
@model ProjectIntesoV1.Pages.AdminSite.BannerManage.IndexModel
@{
    Layout = "/Pages/Shared/Layout2.cshtml";
}
<h1>Quản lí Slide</h1>
<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<table id="example" class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Banner[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banner[0].UrlFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banner[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banner[0].CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banner[0].SortOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Banner) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
                <td>
                    <img src="@item.UrlFile" style="max-width: 300px; max-height: 200px;" />
                </td>
            <td>
                @(item.Status==1?"Active":"Inactive")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SortOrder)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BannerId">Edit</a> |
                @* <a asp-page="./Details" asp-route-id="@item.BannerId">Details</a> | *@
                <a asp-page="./Delete" asp-route-id="@item.BannerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Include DataTables JavaScript -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>