﻿@page
@model ProjectIntesoV1.Pages.AdminSite.BCategory.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/Layout2.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BlogCategory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogCategory.Vname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogCategory.Vname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogCategory.Ename)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogCategory.Ename)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogCategory.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogCategory.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BlogCategory?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
