﻿@page
@model ProjectIntesoV1.Pages.AdminSite.BCategory.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/Layout2.cshtml";
}

<h1>Edit</h1>

<h4>BlogCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BlogCategory.Id" />
            <div class="form-group">
                <label asp-for="BlogCategory.Vname" class="control-label"></label>
                <input asp-for="BlogCategory.Vname" class="form-control" />
                <span asp-validation-for="BlogCategory.Vname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogCategory.Ename" class="control-label"></label>
                <input asp-for="BlogCategory.Ename" class="form-control" />
                <span asp-validation-for="BlogCategory.Ename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogCategory.Status" class="control-label"></label>
                <input asp-for="BlogCategory.Status" class="form-control" />
                <span asp-validation-for="BlogCategory.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

