﻿@page
@model ProjectIntesoV1.Pages.AdminSite.BCategory.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/Layout2.cshtml";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BlogCategory[0].Vname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogCategory[0].Ename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogCategory[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BlogCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
