﻿@page
@model ProjectIntesoV1.Pages.AdminSite.AccountManage.CreateModel
@{
    Layout = "/Pages/Shared/Layout2.cshtml";
}
<h4>AccountUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountUser.Username" class="control-label"></label>
                <input asp-for="AccountUser.Username" class="form-control" />
                <span asp-validation-for="AccountUser.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountUser.Phone" class="control-label"></label>
                <input asp-for="AccountUser.Phone" class="form-control" />
                <span asp-validation-for="AccountUser.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountUser.Email" class="control-label"></label>
                <input asp-for="AccountUser.Email" class="form-control" />
                <span asp-validation-for="AccountUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountUser.Status" class="control-label"></label>
                <input asp-for="AccountUser.Status" class="form-control" />
                <span asp-validation-for="AccountUser.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountUser.CreateDate" class="control-label"></label>
                <input asp-for="AccountUser.CreateDate" class="form-control" />
                <span asp-validation-for="AccountUser.CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountUser.Role" class="control-label"></label>
                <input asp-for="AccountUser.Role" class="form-control" />
                <span asp-validation-for="AccountUser.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountUser.FullName" class="control-label"></label>
                <input asp-for="AccountUser.FullName" class="form-control" />
                <span asp-validation-for="AccountUser.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

