﻿@page
@model ProjectIntesoV1.Pages.AdminSite.AccountManage.DeleteModel
@{
    Layout = "/Pages/Shared/Layout2.cshtml";
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AccountUser</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountUser.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountUser.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountUser.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountUser.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountUser.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountUser.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountUser.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountUser.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountUser.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountUser.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountUser.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountUser.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountUser.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountUser.FullName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="AccountUser.AccountId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
