﻿@page
@model ProjectIntesoV1.Pages.AdminSite.AccountManage.DetailsModel
@{
    Layout = "/Pages/Shared/Layout2.cshtml";
}
<div>
    <h4>AccountUser</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountUser.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountUser.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountUser.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountUser.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountUser.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountUser.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountUser.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountUser.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountUser.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountUser.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountUser.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountUser.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountUser.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountUser.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AccountUser.AccountId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
