﻿@page
@model ProjectIntesoV1.Pages.AdminSite.AccountManage.IndexModel
@{
    Layout = "/Pages/Shared/Layout2.cshtml";
}
<p>
    <a class="btn btn-primary"  asp-page="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountUser[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountUser[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountUser[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountUser[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountUser[0].CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountUser[0].Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountUser[0].FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AccountUser) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AccountId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AccountId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AccountId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
