﻿@page
@model ProjectIntesoV1.Pages.AdminSite.ContactManage.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/Layout2.cshtml";
}

<h1>Create</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contact.Title" class="control-label"></label>
                <input asp-for="Contact.Title" class="form-control" />
                <span asp-validation-for="Contact.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Email" class="control-label"></label>
                <input asp-for="Contact.Email" class="form-control" />
                <span asp-validation-for="Contact.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Name" class="control-label"></label>
                <input asp-for="Contact.Name" class="form-control" />
                <span asp-validation-for="Contact.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Phone" class="control-label"></label>
                <input asp-for="Contact.Phone" class="form-control" />
                <span asp-validation-for="Contact.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Address" class="control-label"></label>
                <input asp-for="Contact.Address" class="form-control" />
                <span asp-validation-for="Contact.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.MessContent" class="control-label"></label>
                <input asp-for="Contact.MessContent" class="form-control" />
                <span asp-validation-for="Contact.MessContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Status" class="control-label"></label>
                <input asp-for="Contact.Status" class="form-control" />
                <span asp-validation-for="Contact.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.CreateDate" class="control-label"></label>
                <input asp-for="Contact.CreateDate" class="form-control" />
                <span asp-validation-for="Contact.CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
