﻿@page
@model ProjectIntesoV1.Pages.AdminSite.ContactManage.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/Layout2.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.MessContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.MessContent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.CreateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Contact?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
