﻿@page
@model ProjectIntesoV1.Pages.AdminSite.ImageManage.CreateModel
@{
    Layout = "/Pages/Shared/Layout2.cshtml";
}
<h4>Thêm mới ảnh</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Tiêu đề</label>
                <input asp-for="Img.Title" class="form-control" />
                <span asp-validation-for="Img.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="imageFile">Chọn Ảnh:</label>
                <input required type="file" onchange="changeFbimg()" class="form-control-file" id="imageFile" asp-for="Img.ImageFile">
            </div>
            <div class="form-group">
                <label for="imageFile">Ảnh xem trước:</label>

                <img style="display:none;max-height: 300px;" id="sendimg" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>


<script>
    function changeFbimg() {
        var file = document.getElementById("imageFile").files[0];
        if (file.name.match(/.+\.(jpg|png|jpeg)/i)) {
            if (file.size / (1024 * 1024) < 5) {
                var fileReader = new FileReader();
                fileReader.readAsDataURL(file);
                fileReader.onload = function () {
                    document.getElementById("sendimg").src = (fileReader.result);
                    document.getElementById("sendimg").style.display = "block";
                }
            } else {
                uploadError();
            }
        } else {
            uploadError();
        }
    }
    function uploadError() {
        alert('Please upload photo file < 5MB')
        document.getElementById("imageFile").files[0].value = ''
        document.getElementById("imageFile").type = '';
        document.getElementById("imageFile").type = 'file';
    }
 
</script>