﻿@page
@model ProjectIntesoV1.Pages.AdminSite.ImageManage.DeleteModel
@{
    Layout = "/Pages/Shared/Layout2.cshtml";
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Image</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image.UrlFile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image.UrlFile)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Image.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
