﻿@page
@model ProjectIntesoV1.Pages.AdminSite.ImageManage.DetailsModel
@{
    Layout = "/Pages/Shared/Layout2.cshtml";
}
<div>
    <h4>Image</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image.UrlFile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image.UrlFile)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
