﻿@page
@model ProjectIntesoV1.Pages.AdminSite.ImageManage.IndexModel
@{
    Layout = "/Pages/Shared/Layout2.cshtml";
}


<h1>Quản lí Ảnh</h1>
<p>
    <a class="btn btn-primary" asp-page="Create" class="btn btn-primary">Thêm mới</a>
</p>
<table id="categoryTable" class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image[0].Title)
            </th>
            <th>
                Url
            </th>
            <th>Ảnh</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Image) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td >
                    <p  style="word-wrap:break-word;width: 400px;">@Html.DisplayFor(modelItem => item.UrlFile)</p>
            </td>
            <td>
                    <img src="@item.UrlFile" style="max-width: 300px; max-height: 200px;"/>
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Xem chi tiết</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>


