﻿@page
@model ProjectIntesoV1.Pages.AdminSite.BlogManage.CreateModel
@{
    Layout = "/Pages/Shared/Layout2.cshtml";
}
<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Blog.Title" class="control-label"></label>
                <input asp-for="Blog.Title" class="form-control" />
                <span asp-validation-for="Blog.Title" class="text-danger"></span>
            </div>
       @*      <div class="form-group">
                <label asp-for="Blog.EngTitle" class="control-label"></label>
                <input asp-for="Blog.EngTitle" class="form-control" />
                <span asp-validation-for="Blog.EngTitle" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Blog.CategoryId" class="control-label"></label>
                <select asp-for="Blog.CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            
          @*   <div class="form-group">
                <label asp-for="Blog.Econtent" class="control-label"></label>
                <input asp-for="Blog.Econtent" class="form-control" />
                <span asp-validation-for="Blog.Econtent" class="text-danger"></span>
            </div> *@
        @*     <div class="form-group">
                <label asp-for="Blog.PublishDate" class="control-label"></label>
                <input asp-for="Blog.PublishDate" class="form-control" />
                <span asp-validation-for="Blog.PublishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.CreateDate" class="control-label"></label>
                <input asp-for="Blog.CreateDate" class="form-control" />
                <span asp-validation-for="Blog.CreateDate" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Blog.Slug" class="control-label"></label>
                <input asp-for="Blog.Slug" class="form-control" />
                <span asp-validation-for="Blog.Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.NumberOfViews" class="control-label"></label>
                <input asp-for="Blog.NumberOfViews" class="form-control" />
                <span asp-validation-for="Blog.NumberOfViews" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Vsummary" class="control-label"></label>
                <input asp-for="Blog.Vsummary" class="form-control" />
                <span asp-validation-for="Blog.Vsummary" class="text-danger"></span>
            </div>
       
         @*    <div class="form-group">
                <label asp-for="Blog.AuthorId" class="control-label"></label>
                <select asp-for="Blog.AuthorId" class ="form-control" asp-items="ViewBag.AuthorId"></select>
            </div> *@
            <div class="form-group">
                <label asp-for="Blog.Img" class="control-label"></label>
                <input asp-for="Blog.Img" class="form-control" />
                <span asp-validation-for="Blog.Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Vcontent" class="control-label"></label>
                <input asp-for="Blog.Vcontent" id="editor1" class="form-control" />
                <span asp-validation-for="Blog.Vcontent" class="text-danger"></span>
            </div>
           @*  <div class="form-group">
                <label asp-for="Blog.Status" class="control-label"></label>
                <input asp-for="Blog.Status" class="form-control" />
                <span asp-validation-for="Blog.Status" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script>
    CKEDITOR.replace('editor1');
</script>
<div>
    <a asp-page="Index">Back to List</a>
</div>

