﻿@page
@model ProjectIntesoV1.Pages.AdminSite.BlogManage.DeleteModel
@{
    Layout = "/Pages/Shared/Layout2.cshtml";
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Blog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.EngTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.EngTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Vcontent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Vcontent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Econtent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Econtent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.PublishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.PublishDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Slug)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Slug)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.NumberOfViews)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.NumberOfViews)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Vsummary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Vsummary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Esummary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Esummary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Img)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Img)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Author.AccountId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Category.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Blog.BlogId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
