﻿@page
@model ProjectIntesoV1.Pages.AdminSite.BlogManage.IndexModel
@{
    Layout = "/Pages/Shared/Layout2.cshtml";
}
<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].Title)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].NumberOfViews)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].Vsummary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].Img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Blog) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfViews)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vsummary)
            </td>
            <td>
                    <img src="@item.Img" style="max-width: 300px; max-height: 200px;" />
            </td>
            <td>
                @(item.Status==true?"Active":"Inactive")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Vname)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BlogId">Edit</a> |
                @* <a asp-page="./Details" asp-route-id="@item.BlogId">Details</a> | *@
                <a asp-page="./Delete" asp-route-id="@item.BlogId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
